* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  color: white;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

body {
  background-color: rgb(54, 54, 54);
}
.container {
  display: flex;
  width: 100%;
}

.bk-cabecalho {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  color: aqua;
  background-color: black;
}
.bk-cabecalho img {
  width: 250px;
  margin: 5px;
}
.botao {
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
  margin: 8px;
}
.botao a {
  padding: 10px 30px;
  border-radius: 5px;
  background-color: rgb(0, 130, 0);
}
.compra {
  display: flex;
  justify-content: end;
  gap: 10px;
  align-items: center;
  margin: 8px;
}
.compra a {
  padding: 10px 30px;
  background-color: rgb(255, 255, 255);
  color: black;
  border-radius: 5px;
}
a:link {
  font-weight: bold;
  text-decoration: none;
}
.botao a:hover {
  background-color: rgb(0, 170, 0);
}
.compra a:hover {
  background-color: rgb(223, 223, 223);
}

/*----Separação do Cabeçalho pra o Corpo do Documento----*/

.bk-card {
  display: flex;
  justify-content: space-between;
  background-color: black;
  width: 100%;
  height: 760px;
  margin: 20px;
  border-radius: 8px;
}
.bk-card-esquerdo {
  width: 45%;
  height: 730px;
  background: url("./assets/businesBorrado.jpg") no-repeat center/cover;
  margin: 15px;
  border-radius: 8px;
  align-items: center;
}
.texto {
  padding: 15px;
  border-radius: 8px;
  margin: auto;
  margin-top: 10px;
  width: 95%;
  background-color: rgba(0, 0, 0, 0.5);
}
ul,
li {
  list-style: none;
}
.bk-card-direito{
   width: 55%;
  height: 730px;
  background-color: rgb(19, 19, 19);
  margin: 15px;
  border-radius: 8px;
  align-items: center;
}

